dtaDemo/demo-heart-rate-monitor-A-static-payload/src/main/app/demo-heart-rate-monitor-A-static-payload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jasper="http://www.mulesoft.org/schema/mule/jasper" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jasper http://www.mulesoft.org/schema/mule/jasper/1.0/mule-jasper.xsd">
    <jasper:config name="demo-heart-rate-monitor-A-static-payload" vendor="jasper" application="demo-heart-rate-monitor-A-static-payload" version="1.0" doc:name="Jasper"/>
    <flow name="demo-heart-rate-monitor-A-static-payload-flow" doc:name="demo-heart-rate-monitor-A-static-payload-flow">
        <jasper:receive-from-queue-send-response config-ref="demo-heart-rate-monitor-A-static-payload" queue="jms.jasper.demo-heart-rate-monitor-A-static-payload.1.0.jasperLab.0.queue" doc:name="heart-rate-monitor-A-static-payload-inbound-endpoint"/>
        <component doc:name="LocalCache">
            <singleton-object class="org.jasper.dtaDemo.HeartRateMonitorA.LocalCache"/>
        </component>
    </flow>
</mule>
