dtaDemo/demo-sms-service-G/src/main/app/demo-sms-service-G.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/1.0/mule-twilio.xsd">
    <twilio:config name="Twilio" accountSid="${accountSID}" authToken="${authToken}" doc:name="Twilio">
    	<twilio:http-callback-config/>
    </twilio:config>
    <flow name="demo-sms-service-GFlow1" doc:name="demo-sms-service-GFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="0.0.0.0" port="${port}" doc:name="HTTP" path="${path}"/>
        <http:outbound-endpoint exchange-pattern="request-response" host="${tomcat}" port="8080" path="jsc-ws-2.1%2Fhttp%3A%2F%2Fcoralcea.ca%2Fjasper%2FroomTempData?trigger%3Dcompareint(http%3A%2F%2Fcoralcea.ca%2Fjasper%2FenvironmentalSensor%2FroomTemperature%2Cgt%2C10)%3Fexpiry%3D30" method="GET" doc:name="SendTrigger" responseTimeout="60000"/>
        <twilio:send-sms-message config-ref="Twilio" body="#[payload]" from="${smsFromNumber}" to="${smsToNumber}" doc:name="Twilio"/>
    </flow>
</mule>