jtaDemo/jtaDemo-heart-rate-monitor-A-static-payload/src/main/app/jtaDemo-heart-rate-monitor-A-static-payload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:jasperengine="http://www.mulesoft.org/schema/mule/jasperengine" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd 
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
http://www.mulesoft.org/schema/mule/jasperengine http://www.mulesoft.org/schema/mule/jasperengine/current/mule-jasperengine.xsd ">
    <jasperengine:connector name="JEC" vendor="jasper" appName="jtaDemo-heart-rate-monitor-A-static-payload" version="2.1" jasperEngineURL="${jasperEngineURL}" doc:name="Jasper Connector"></jasperengine:connector>
    <flow name="mule-app-webview-rest-interfaceFlow1" doc:name="mule-app-webview-rest-interfaceFlow1">
        <jasperengine:inbound-endpoint connector-ref="JEC" exchange-pattern="request-response" uri="${uri}" queue="jms.jasper.jtaDemo-heart-rate-monitor-A-static-payload.1.0.jasperLab.0.queue" doc:name="HRD"></jasperengine:inbound-endpoint>
        <component doc:name="LocalCache">
            <singleton-object class="org.jasper.jtaDemo.HeartRateMonitorA.LocalCache"/>
        </component>
    </flow>
</mule>
